<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles_2.css">
</head>
<body>
    <div class="score"></div>
    <div class="battle_field">
        <div class="player_card"></div>
        <div class="ai_card"></div>
    </div>
    <%images_ %>
    <div class="preview1">
        <img src= <%= images_[0]%>>
        <img src= <%= images_[1] %>>
        <img src= <%= images_[2]%>>
        <img src= <%= images_[3] %>>
        <img src= <%= images_[4]%>>
        <img src= <%= images_[5] %>>
        <img src= <%= images_[6]%>>
        <img src= <%= images_[7] %>>
        <img src= <%= images_[8]%>>
        <img src= <%= images_[9] %>>
    </div>
</body>
</html>